<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href='https://fonts.googleapis.com/css?family=Pattaya' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:600" rel="stylesheet">

    {% load static %}
    <link href="{% static "style.css" %}" type="text/css" rel="stylesheet"/>

  </head>
  <body>
  	<div class="button-shape4"></div>
    <div class="button4">
        <a href="listform" title="See Schedule">see schedule</a>
    </div>
  </body>
</html>