<!DOCTYPE html>
<html>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<body>
    <div class=title> 
        <h1>Schedule List</h1>
    </div>

    <div class="row">
        <div class="col-md-9"></div>
        <a href="{% url 'story5:hapus_jadwal' %}" type="button" class="btn btn-danger">Hapus Semua Jadwal</a>
    </div>

    {% for schedule in schedules %}

    <div>
        <p>Tanggal: {{ schedule.date }}</p>
        <p>Tempat: {{ schedule.place }}</p>
        <p>Event: {{ schedule.event }}</p>
        <p>Kategori: {{ schedule.category }}</p>
    </div>
    <br>
    {% endfor %}
</body>
</html>
