html, body {
    height: 100%;
}
html {
    display: table;
    margin: auto;
}
body {
    display: table-cell;
    vertical-align: middle;
	position: relative;
	width: 1130px;
	height: 1905px;
	overflow-x: scroll;

	background: #4281A4;
	mix-blend-mode: normal;
}
.foto-profile{
	position: absolute;
	width: 274px;
	height: 274px;
	left: 426px;
	top: 103px;
	border-radius: 274%;

	background: #FE938C;
}
.name p{
	position: absolute;
	width: 364px;
	height: 67px;
	left: 381px;
	top: 365px;

	font-family: Pattaya;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 48px;
	text-align: center;

	color: #EAD2AC;
}
.nickname p{
	position: absolute;
	width: 390px;
	height: 35px;
	left: 368px;
	top: 439px;

	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	line-height: normal;
	font-size: 28px;
	text-align: center;

	color: #EAD2AC;
}
.logo-email{
	position: absolute;
	width: 71px;
	height: 71px;
	left: 320px;
	top: 568px;
}
.logo-twitter{
	position: absolute;
	width: 71px;
	height: 71px;
	left: 541px;
	top: 568px;
}
.logo-instagram{
	position: absolute;
	width: 71px;
	height: 71px;
	left: 745px;
	top: 568px;
}
.rectangle{
	position: absolute;
	width: 694px;
	height: 219px;
	left: 224px;
	top: 694px;

	background: #4281A4;
	border: 3px solid #FE938C;
	box-sizing: border-box;
	border-radius: 33px;
}
.desc h1{
	position: absolute;
	width: 215px;
	height: 50px;
	left: 469px;
	top: 695px;

	font-family: Pattaya;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 36px;
	text-align: center;
	color: #FE938C;
}
.desc p{
	position: absolute;
	width: 650px;
	height: 103px;
	left: 248px;
	top: 750px;

	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	font-size: 21px;
	text-align: center;

	color: #EAD2AC;
}
.formal-education p{
	position: absolute;
	width: 224px;
	height: 30px;
	left: 224px;
	top: 993px;

	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	line-height: normal;
	font-size: 24px;
	text-align: center;

	color: #FE938C;
}
.formal-education ul{
	position: absolute;
	width: 220px;
	height: 88px;
	left: 186px;
	top: 1027px;

	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	font-size: 18px;
	color: #EAD2AC;
}
.logo-education{
	position: absolute;
	width: 192px;
	height: 192px;
	left: 610px;
	top: 990px;
}
.experiences p{
	position: absolute;
	width: 154px;
	height: 30px;
	left: 767px;
	top: 1258px;

	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	line-height: normal;
	font-size: 24px;
	text-align: center;
	color: #FE938C;
}
.experiences ul{
	position: absolute;
	width: 384px;
	height: 154px;
	left: 497px;
	top: 1293px;

	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	font-size: 18px;
	text-align: right;
	color: #EAD2AC;
}
.logo-experiences{
	position: absolute;
	width: 156px;
	height: 156px;
	left: 263px;
	top: 1288px;
}
.circle-skills1{
	position: absolute;
	width: 83px;
	height: 83px;
	left: 256px;
	top: 1597px;
	border-radius: 83%;

	background: #2F6380;
	border: 1px solid #EAD2AC;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.circle-skills2{
	position: absolute;
	width: 83px;
	height: 83px;
	left: 256px;
	top: 1703px;
	border-radius: 83%;

	background: #2F6380;
	border: 1px solid #EAD2AC;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.special-skills p{
	position: absolute;
	width: 163px;
	height: 30px;
	left: 224px;
	top: 1534px;

	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	line-height: normal;
	font-size: 24px;
	text-align: center;
	color: #FE938C;
}
.special-skills1 p{
	position: absolute;
	width: 132px;
	height: 22px;
	left: 351px;
	top: 1611px;

	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	font-size: 18px;

	color: #EAD2AC;
}
.special-skills2 p{
	position: absolute;
	width: 157px;
	height: 22px;
	left: 344px;
	top: 1717px;

	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	font-size: 18px;

	color: #EAD2AC;
}
.special-skills1 pre{
	position: absolute;
	width: 41px;
	height: 30px;
	left: 277px;
	top: 1600px;

	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	line-height: normal;
	font-size: 24px;
	text-align: center;

	color: #EAD2AC;
}
.special-skills2 pre{
	position: absolute;
	width: 59px;
	height: 30px;
	left: 268px;
	top: 1706px;

	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	line-height: normal;
	font-size: 24px;
	text-align: center;

	color: #EAD2AC;
}
.logo-skills{
	position: absolute;
	width: 159px;
	height: 159px;
	left: 667px;
	top: 1606px;
}
.button-shape{
	position: absolute;
	width: 223px;
	height: 32px;
	left: 454px;
	top: 1852px;

	background: #FE938C;
	border: 3px solid #EAD2AC;
	box-sizing: border-box;
	border-radius: 26.5px;
}
.button a{
	position: absolute;
	width: 154px;
	height: 22px;
	left: 488px;
	top: 1857px;

	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	line-height: normal;
	font-size: 18px;
	text-align: center;

	color: #4281A4;
}
.title p{
	position: absolute;
	width: 355px;
	height: 100px;
	left: 387px;
	top: 78px;

	font-family: Pattaya;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 72px;
	text-align: center;

	color: #EAD2AC;
}
.poster-uas{
	position: absolute;
	width: 390px;
	height: 390px;
	left: 374px;
	top: 308px;
}
.poster-ramadhan{
	position: absolute;
	width: 390px;
	height: 390px;
	left: 374px;
	top: 849px;
}
.poster-quiz-humas{
	position: absolute;
	width: 390px;
	height: 390px;
	left: 374px;
	top: 1390px;
}
.button-shape2{
	position: absolute;
	width: 125px;
	height: 43px;
	left: 808px;
	top: 141px;

	background: #FE938C;
	border: 3px solid #EAD2AC;
	box-sizing: border-box;
	border-radius: 26.5px;
}
.button2 a{
	position: absolute;
	width: 76.75px;
	height: 29.56px;
	left: 836.51px;
	top: 151.72px;

	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	line-height: normal;
	font-size: 18px;
	text-align: center;
	color: #4281A4;
}
.button-shape3{
	position: absolute;
	width: 125px;
	height: 43px;
	left: 808px;
	top: 195px;

	background: #FE938C;
	border: 3px solid #EAD2AC;
	box-sizing: border-box;
	border-radius: 26.5px;
}
.button3 a{
	position: absolute;
	width: 130px;
	height: 29.56px;
	left: 806.51px;
	top: 205.72px;

	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	line-height: normal;
	font-size: 14px;
	text-align: center;
	color: #4281A4;
}
.button-shape4{
	position: absolute;
	width: 125px;
	height: 43px;
	left: 808px;
	top: 249px;

	background: #FE938C;
	border: 3px solid #EAD2AC;
	box-sizing: border-box;
	border-radius: 26.5px;
}
.button4 a{
	position: absolute;
	width: 100px;
	height: 29.56px;
	left: 821.51px;
	top: 259.72px;

	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	line-height: normal;
	font-size: 14px;
	text-align: center;
	color: #4281A4;
}
.user-information p{
	position: absolute;
	width: 400px;
	height: 100px;
	left: 387px;
	top: 78px;

	font-family: Pattaya;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 50px;
	text-align: center;

	color: #FE938C;
}
.container{
	position: absolute;
	width: 700px;
	height: 800px;
	top: 220px;
}
.help-block{
	color: #EAD2AC;
}
label {
	color: #EAD2AC;
}
@media screen and (max-width: 600px) {
	html, body {
		height: 100%;
    }
    html {
    	display: table;
    	margin: auto;
    }
    body {
    	display: table-cell;
    	vertical-align: middle;
    	position: absolute;
    	width: 1130px;
    	height: 600px;
    	overflow-x: scroll;

    	background: #4281A4;
    	mix-blend-mode: normal;
    }
    .name p{
    	font-size: 35px;
    }
    .nickname p{
    	font-size: 28px;
    }
    .desc h1{
    	font-size: 30px;
    }
    .desc p, .formal-education ul, .experiences ul, .special-skills ul, .special-skills1 p, .special-skills2 p{
    	font-size: 20px;
    }
    .formal-education p, .experiences p, .special-skills p, .special-skills1 pre, .special-skills2 pre{
    	font-size: 15px;
    }
    .button a, .button2 a{
    	font-size: 10px;
    }
    .title p{
    	font-size: 30px;
    }
    .user-information p{
    	font-size: 30px;
    }
}
